
  .date{
    
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time{
    
    display: flex;
    font-weight: bold;
   
    
   align-items: center;
 
  }
  .akash{
    text-align: center;
    align-items: center;
    font-weight: bold;
    
  }
  

        